body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.invalid-feedback{
  display: block !important;
}
.logout-link{
  background: transparent;
  border: transparent;
  color: #2137fc;
  padding: 0;
  margin: 0;
}
.right-margin {
	margin-right: 10px;
}